/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/*.sqlite
/.env
/.env.*
!.env.example
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
.DS_Store
.idea/
.vscode/
*.swp
*.swo
